body {
    padding:0;
    margin:10px;
    max-width:480px;
}
h1 {
    padding:0.25em;
    margin:0.75em 0;
}
img {
    display:none;
}
div img {
    display:inline;
    background-color:#eee;
    border:solid 1px #999;
    padding:0.25em;
    margin:0.75em 0;
}
form {
    background-color:#eee;
    border:solid 1px #999;
    padding:0.25em;
    margin:0.75em 0;
}
form ul {
    padding:0;
    margin:0;
}
form ul li {
    /* display:inline; */
    list-style:none;
    padding:0 0.2em 0 0;
    margin:0.1em;
}
.grid-1 {
    padding:0.25em;
    margin:0 0.25em;
    text-align:center;
}
.grid-2 {
    padding:0.25em;
    margin:0 0.25em;
    float:left;
}
.form-text {
    background-color:#fff;
    border:solid 1px #999;
    padding:0.25em;
}
.align-right {
    text-align:right;
}
.error {
    color:#f00;
}
.flclear {
    clear:both;
}
